body {
  background: #f4f4f4;
  font-family: Arial, sans-serif;
 
}

.form-container {
  align-items: center;
  justify-content: center;
  width: 350px;
  margin: 100px auto;
  padding: 50px;
  background: rgb(161, 52, 52);
  color:black;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-top: 10px;
  font-weight: bold;
}

input {
  padding: 10px;
  margin-top: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button {
  margin-top: 20px;
  padding: 10px;
  background:rgb(103, 169, 195);
  color: white;
  border: none;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background: blue;
}
